<!DOCTYPE html>
html(lang="en")
head
  title DevTips Starter Kit
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
body
  .container-fluid
    h1 An amazing headline goes here!
    img(src="https://unsplash.it/1000")
    .row
      .col-xs-6
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque beatae est, nam repellendus ad quasi earum! Nesciunt, cum voluptate fugit nulla vitae vel. Sunt deserunt cupiditate laudantium dolores reiciendis fuga facere minus. Praesentium, magnam explicabo commodi laudantium ratione id itaque, delectus impedit ipsum aspernatur accusantium eos, eveniet ab optio inventore!
      .col-xs-6
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque beatae est, nam repellendus ad quasi earum! Nesciunt, cum voluptate fugit nulla vitae vel. Sunt deserunt cupiditate laudantium dolores reiciendis fuga facere minus. Praesentium, magnam explicabo commodi laudantium ratione id itaque, delectus impedit ipsum aspernatur accusantium eos, eveniet ab optio inventore!




  script(src="./vendors/jquery/dist/jquery.min.js")
  script(src="./assets/js/app.js")
